:root {
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --light-grey: #e5e7eb;
  --blue: #3882f6;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
  background-color: var(--dark-blue);
  width: 100%;
  align-items: center;
  color: var(--white);
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  padding-right: 16px;
  margin-right: 100px;
}

.hero {
  background-color: var(--dark-blue);
}

.hero-title {
  color: var(--white);
  font-size: 48px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.hero-subtext {
  color: var(--light-grey);
  font-size: 18px;
}

.hero-img {
  width: 500px;
  height: auto;
  border-radius: 5%;
}

.hero {
  display: flex;
  padding: 100px;
  gap: 50px;
  justify-content: space-around;
}

.hero-button {
  background-color: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 10%;
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.tile-outline {
  border: 3px solid var(--blue);
  width: 150px;
  height: 150px;
  border-radius: 5%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 100px;
}

.tiles {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  gap: 50px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
}

.tile-text {
  text-align: center;
}

.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  width: 150px;
}
